
  .post {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .yourNews {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 80%;
    height: 5rem;
  }
  
  .button{
    margin-top: 1rem;
    background-color: green;
    width: 5rem;
    margin-left: 43rem;
    color: #ECE8D9;
  }
  
  
  .item {
    margin: 1rem 1rem 3rem 1rem;
    font-size: 1.5rem;
  }
  