    .posts {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }

    .heading {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .yourNews {}
    
    .button {
      margin-top: 1rem;
      margin-left: 70%;
      background-color: green;
      width: 5rem;
      color: #ECE8D9;
    }