.header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(30deg, #44a7fd, #0048bd);
  color: #ECE8D9;
  width: 102%;
  position: relative;
}

.logo {
  width: 5rem;
  margin: 0.5rem;
}

.loginBlock {
  width: 10%;
  height: 100%;
}

.logOut {
  color: #fff;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #0048bd;
}

.logIn {
  padding: 1.5rem;
}

.text {
  color: #fff;
  font-size: 1.5rem;
}