.header {
  display: flex;
  justify-content: space-between;
  background-color: #1C3F3A;
  color: #ECE8D9;
  width: 102%;
  position: relative;
}

.logo {
  width: 5rem;
  margin: 0.5rem;
}

.loginBlock {
  position: absolute;
  top: 1rem;
  left: 87%;
}
