.friendList {
    display: flex;
    flex-direction: column;
}

.friend {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

.avatar {
    margin: 1rem;
    max-width: 3rem;
    max-height: 3rem;
}

.data {
    margin: 1rem;
    display: grid;
    grid-template-areas:
        "name name"
        "writeMessage dropdown";
    gap: 1rem;
    width: 100%;
}

.name {
    grid-area: name;
}

.writeMessage {
    grid-area: writeMessage;
}

.dropdown {
    grid-area: dropdown;
    align-items: flex-end;
    width: 5rem;
}

.button {
    background-color: grey;
    border-radius: 100%;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 3rem auto;
}

.selectedPage {
    font-weight: bold;
}

.allUsers {
    display: flex;

}

.friends {
    flex-grow: 2;
}

.users {
    flex-grow: 1;
    text-align: center;
    background-color: rgb(194, 193, 193);
}