.picture {
  margin-bottom: 2rem;
}

.fon {
  height: 10rem;
  width: 100%;
}

.personalData {
  display: flex;
}

.photoPart {
  display: flex;
  flex-direction: column;
}

.photo {
  max-height: 20rem;
  max-width: 20rem;
}

.input {
margin-top: 1rem;

}

.text {
  margin-left: 4rem;
}

.name {
  font-size: 2rem;
}

.info {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}