.loginPage {
    margin: 0 auto;
}

.title {
    font-size: 3rem;
}

.loginForm {
    margin-top: 2rem;
}

.login {
    font-size: 1rem;
}

.password {
    font-size: 1rem;
    margin-top: 1rem;
}

.checkbox {
    margin-top: 1rem;
}

.button {
    margin-top: 1rem;
    background-color: green;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}